<!DOCTYPE html>
<html lang="zxx">

	

	<head>
        <script src="js/includeHTML.js"></script>
    


    <!-- Css Styles -->
     <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css"> 
</head> 

<body>
	
	<header class="header-section">
    <div class="hs-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo">
                        <a href="./index.html"><img src="img/logo2.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="ht-widget">
                        <ul>
                            <li><span>홍길동님 환영합니다</span></li>
                        </ul>
                        <a href="./mypage.html" class="hw-btn">마이페이지</a>
                    </div>
                </div>
            </div>
            <div class="canvas-open">
                <span class="icon_menu"></span>
            </div>
        </div>
    </div>
    <div class="hs-nav">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <nav class="nav-menu">
                        <ul>
                            <li><a href="./index.html">Home</a></li>
                            <li class="active"><a href="#">힙플레이스</a>
                                <ul class="dropdown">
                                    <li><a href="./table.html">힙플레이스 목록</a></li>
                                    <li><a href="./registerPage.html">힙플레이스 추가</a></li>
                                    <li><a href="./table.html">힙플레이스 후기 목록</a></li>
                                </ul>
                            </li>


                            <li><a href="./makeRoot.html">루트만들기</a></li>
                   
                          
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>

  

    <!-- Blog Section Begin -->
    <section class="blog-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
					
							<select class="sm-width">
								<option value="">지역을 선택하세요</option>
                        		<option value="강남">강남</option>
								<option value="홍대">홍대</option>
								<option value="이태원">이태원</option>
								<option value="기타">기타</option>
                   			</select>	
					<br>
					<br>
					<br>
					
				
                    <div class="blog-item-list">
    
                        <div class="blog-item">
                            <div class="bi-text">
                                <h5><a href="./blog-details.html"> [강남] 날아라초밥, 메가커피, 와인바</a></h5>
                                <ul>
                                    <li>by <span>Jonathan Doe</span></li>
                                    <li>Seb 24, 2019</li>
                                    <li>12 Comment</li>
                                </ul>
                                <p>후기내용 어쩌구저쩌구...너무맛있었어요어쩌구..</p>
                                <a href="#" class="read-more">Read more <span class="arrow_right"></span></a>
                            </div>
                        </div>
                        <div class="blog-item">
                            <!-- <div class="bi-pic">
                                <img src="img/blog/blog-3.jpg" alt="">
                            </div> -->
                            <div class="bi-text">
                                <h5><a href="./blog-details.html">[이태원] 보니스피자펍, 단밤</a></h5>
                                <ul>
                                    <li>by <span>Jonathan Doe</span></li>
                                    <li>Seb 24, 2019</li>
                                    <li>12 Comment</li>
                                </ul>
                                <p>이태원클라스...페퍼로니하와이안 존맛.. 두 음식점이 가까워서 좋아요..</p>
                                <a href="#" class="read-more">Read more <span class="arrow_right"></span></a>
                            </div>
                        </div>
 <div class="blog-item">
                            <div class="bi-pic">
                                <img src="img/blog/blog-2.jpg" alt="">
                            </div>
                            <div class="bi-text">
                                <h5><a href="./blog-details.html"> [강남] 날아라초밥, 메가커피, 와인바</a></h5>
                                <ul>
                                    <li>by <span>Jonathan Doe</span></li>
                                    <li>Seb 24, 2019</li>
                                    <li>12 Comment</li>
                                </ul>
                                <p>후기내용 어쩌구저쩌구...너무맛있었어요어쩌구..</p>
                                <a href="#" class="read-more">Read more <span class="arrow_right"></span></a>
                            </div>
                        </div>
                        <div class="blog-item">
                            <div class="bi-pic">
                                <img src="img/blog/blog-3.jpg" alt="">
                            </div>
                            <div class="bi-text">
                                <h5><a href="./blog-details.html">[이태원] 보니스피자펍, 단밤</a></h5>
                                <ul>
                                    <li>by <span>Jonathan Doe</span></li>
                                    <li>Seb 24, 2019</li>
                                    <li>12 Comment</li>
                                </ul>
                                <p>이태원클라스...페퍼로니하와이안 존맛.. 두 음식점이 가까워서 좋아요..</p>
                                <a href="#" class="read-more">Read more <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-pagination property-pagination ">
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#" class="icon"><span class="arrow_right"></span></a>
                    </div>
         
        </div>
    </section>
    <!-- Blog Section End-->

    

   

    Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.richtext.min.js"></script>
    <script src="js/image-uploader.min.js"></script>
    <script src="js/main.js"></script> 
</body>

</html>