<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- xml 파일에서 dto 패키지 풀 네임 안적어도 되게 alias 설정 -->
	<typeAliases>
      <package name="kr.ac.kopo.dto"/>
   	</typeAliases>
   
	<!-- Mapper.xml 파일들 설정 -->
	<mappers>
	  <mapper resource="mapper/placeMapper.xml"/>
   </mappers>
</configuration>